<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imageSRC}}" alt="{{recipe.title}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdawn class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li style="cursor:pointer;" (click)="sendIngredientInfo()"><a>To the Shoppinglist</a></li>
                <li style="cursor:pointer;" (click)="openRecipeEdit()"><a>Edite</a></li>
                <li style="cursor: pointer;"(click)="deleteRecipe()" ><a>Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
                {{ingredient.name}} ({{ingredient.amount}})
            </li>
        </ul>
    </div>
</div>